@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:ital@1&family=Sacramento&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

.container{
    padding-left: 1rem;
    padding-right: 1rem;
}